<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="Description" content="Farm To Table Descriptor">
<meta name="Keywords" content="Fruit, veg everything nice">
<meta name="author" content="The Yorkshire Coder">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<title>Farm-To-Table: Home</title>


</head>
<body>



<br><br><br>


<h1>Welcome to Farm-Table!</h1>

<p>
<% if user_signed_in? %>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
<% else %>
  <%= link_to('Login', new_user_session_path)  %>  
<% end %>
<br>
Click <%= link_to "here", new_user_registration_path %> to signup!
</p>

</body>
</html>