<%= content_for :title do %> Home <% end %>

<h1>Welcome to Farm-Table!</h1>

<p>
<% if user_signed_in? %>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
<% else %>
  <%= link_to('Login', new_user_session_path)  %>  
<% end %>
<br>
Click <%= link_to "here", new_user_registration_path %> to signup!
</p>
