// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product_grid {
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    margin-left: 30%;
}

.product_holder {
    border: 1px solid grey;
    margin: 5%;
    text-align: center;
    // width: 100%;
    // height: 100%;
    // margin-right: 10%;
    // margin-left: 10%;
}

.product_holder img {
    width: 180px;
    height: 180px;
}